In [1]:
import pandas as pd
import numpy as np

In [2]:
train = pd.read_csv("train.csv",dtype = {'Upc': str, 'FinelineNumber':"category", 'TripType':"category" , 'Weekday':"category"})
test = pd.read_csv("test.csv",dtype = {'Upc': str, 'FinelineNumber':"category", 'TripType':"category" , 'Weekday':"category"})

In [3]:
all_data = pd.concat([train,test])
# all_data.reset_index(inplace=True,drop=True)

In [4]:
all_data.drop(['TripType', 'Upc'],axis = 1,inplace = True)

In [5]:
all_data['FinelineNumber_copy'] = all_data['FinelineNumber']

In [6]:
group_visit_fineline = all_data.groupby(['VisitNumber','FinelineNumber'],as_index=False).agg({'FinelineNumber_copy':'count'})

In [7]:
group_visit_fineline

         VisitNumber FinelineNumber  FinelineNumber_copy
0                  1           1431                    1
1                  1           1526                    1
2                  1           3002                    1
3                  1           3555                    1
4                  2           4408                    1
5                  2           5019                    1
6                  2           8023                    2
7                  3           4504                    2
8                  4           5924                    1
9                  5           1000                    1
10                 6            654                    2
11                 7           4504                    1
12                 7           8931                    1
13                 8           1001                    1
14                 8           1017                    3
15                 8           1018                    1
16                 8           1028                    1
17                 8           1305                    1
18                 8           2801                    1
19                 8           2802                    1
20                 8           3300                    1
21                 8           3504                    2
22                 8           3565                    3
23                 8           4415                    2
24                 8           4501                    1
25                 8           4606                    1
26                 8           6009                    1
27                 8              7                    1
28                 8            707                    1
29                 9            103                    1
...              ...            ...                  ...
1130104       191345           3903                    1
1130105       191345           4503                    1
1130106       191345           4640                    1
1130107       191345           5532                    1
1130108       191345           9513                    1
1130109       191346           1104                    1
1130110       191346           1110                    1
1130111       191346           1118                    1
1130112       191346           1752                    1
1130113       191346           2302                    1
1130114       191346           2351                    1
1130115       191346           2409                    1
1130116       191346           3107                    1
1130117       191346           4170                    1
1130118       191346           4636                    1
1130119       191346           4639                    2
1130120       191346           6158                    1
1130121       191346           7601                    1
1130122       191346           7955                    1
1130123       191346           8910                    1
1130124       191346           8947                    1
1130125       191347           1512                    1
1130126       191347           3600                    1
1130127       191348           1099                    1
1130128       191348            114                    1
1130129       191348           1505                    1
1130130       191348           1857                    1
1130131       191348            321                    1
1130132       191348           4923                    1
1130133       191348           8220                    1

[1130134 rows x 3 columns]

In [8]:
group_visit_fineline['FinelineNumber'][1]

'1526'

In [9]:
dictVector = []
visitnum = group_visit_fineline['VisitNumber'][1]
visitdict = {}
for i in range(len(group_visit_fineline)):
    if(group_visit_fineline['VisitNumber'][i] == visitnum):
        visitdict[group_visit_fineline['FinelineNumber'][i]] = group_visit_fineline['FinelineNumber_copy'][i]
    else:
        dictVector.append(visitdict)
        visitdict = {}
        visitdict[group_visit_fineline['FinelineNumber'][i]] = group_visit_fineline['FinelineNumber_copy'][i]
        visitnum = group_visit_fineline['VisitNumber'][i]

In [147]:
from sklearn.feature_extraction import DictVectorizer
v = DictVectorizer()

In [148]:
X = v.fit_transform(dictVector)

In [135]:
# v.get_feature_names()